$ch-white: #fff;
$ch-dark-blue: #2A3A48;
$ch-blue-green: #3E6372;
$ch-light-blue: #B2D4DC;
$ch-gray: #FAFAFF;
$ch-gray-0: #F9FCFD;
$ch-gray-1: #d0d0d0;
$ch-gray-8: #909090;
$ch-gray-9: #4f4f4f;
$ch-red: #BE1623;
$ch-bright-red: #ea0819;