<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>APPNAME</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body  ng-controller="ApplicationController">
    <div id="ng-view" ng-view>
    </div>

  <%= render '/ng_includes' %>
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
